body { 
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}
.container{
    width: 85%;
    margin: auto;
}
a{
    color: #3b92cd;
}
h4{
    margin-bottom: -9px;
    font-size: 18px;
}
h3{
    position: relative;
    color:white ;
}
h3::before{
    position: absolute;
    content: "";
    border: 1px solid #3b92cd;
    top: 32px;
    left: calc(50% - 55px);
    width: 100px;
}
p{
    line-height: 1.9em;
}
/*header///////////////*/
header{
    padding-top: 20px;
    border-bottom: 1px solid #3b92cd;
    text-align: center;
    width: 85%;
    margin: auto;
}
.logo{
    width: 45%;
}
/*header end//////*/
/*section start//////*/
.flex{
    /* flex-wrap: wrap-reverse; */
    justify-content: space-between;
    padding: 90px 0px;
    display: flex;
}
section h1 {
    font-size: 30px;
    font-family: auto;
    color: #3b92cd;
}
section .left{width: 38%;}
section .block p{
    padding-left: 32px;
    padding-top: 10px;
    margin-bottom: 10px;
}
section .block{position: relative;border-bottom: 1px solid #3b92cd;width: 350px;}
section img{
    left: 4px;
    top: 17px;
    position: absolute;
    filter: invert(1);
    width: 12px;
}
section .right{
     width: 58%;
}
section .right iframe{
    width: 100%; 
    height: 533px;
}
section .mail{
    font-size: 15px;
}

/*section end//////*/
/*footer///////////////*/
footer{
    background-color: #202a67;
    padding: 50px 0px 10px;
    text-align: center;
    color:#e2e1e2;
}
footer .cop {
    margin-top: 20px;
 font-size: 14px;
 
}
footer .container div {
    margin-bottom: 40px;
}
/*footer end*/
/*media*/
@media (max-width:1020px){
    
    section .right{
        width: 50%;
        margin-top: 30px;
   }
   
} 
@media (max-width:860px){
    .logo{
        width: 65%;
    }
     .flex{
        flex-wrap: wrap;
        padding: 50px 0px 50px;
   }
    section .right{
        width: 100%;
        margin-top: 30px;
   }
   section .left{
    width: 100%; 
}
} 
@media (max-width:790px){
 .mar:before{
    top: 62px;
    
}
}
@media (max-width:390px){
    section .mail{
        font-size: 13px;
    }
    section .block {
        width: auto;
    }
}